* {
    box-sizing: border-box;
}

.padre {
    display: flex;
    /* esto respeta el ancho de la pantalla y si un elemento sobrepasa el tamaño lo manda para abajo*/
    flex-wrap: wrap;
    /*permite alinear elementos en horizontal */
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.hijo {
    width: 20%;
    height: 100px;
    border: solid 1px red;
    background-color: white;
}