* {
    box-sizing: border-box;
}

.padre {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* esto respeta el ancho de la pantalla y si un elemento sobrepasa el tamaño lo manda para abajo*/
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.hijo {
    width: 20%;
    height: 300px;
    border: solid 2px red;
    background-color: white;
}