* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: hsl(30, 38%, 92%); */
    background-color: aqua;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.left-image {
    background: url(../reto1/images/image-product-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-size: cover;
    background-position: 0% 33%;
}

.content {
    /* height: 400px; */
    background-color: white;
    width: 300px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}
.sub-title {
    font-family: Montserrat, sans-serif;
    color: hsl(228, 12% , 48%);
    font-size: 12px;
    font-weight: 500px;
    letter-spacing: 5px;
}
.title {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    margin-top: 15px;
}
.text-content {
    font-family: "Monserrat", sans-serif;
    color: hsl(228 , 12%, 48%);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500;
}
button {
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    background-color:hsl(158, 36%, 37%) ;
    border-radius: 8px;
    font-family: "Monserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button:hover {
    cursor: pointer;
}
.content-price {
    display: flex;
    align-items: center;
}
.offert-price {
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
.real-price{
    font-family: "Monserrat", sans-serif;
    margin-left: 10px;
    font-size: 13px;
    text-decoration: line-through;
}
.oneclick {
    display: none;
    margin-top: 5px;
    color: black;
    background-color: green;
}
/* MD */
@media (min-width:600px) {
    body {
        background-color: red;
    }
}

@media (min-width: 600px)  {
    .container{
        flex-direction: row;
    }
    
    .left-image {
        background-size: cover;
        background-position: 50% 0%;
        height: 400px;
        width: 200px;
        background-color: white;
        border-radius: 0px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

    }
    
    .content {
        height: 400px;
        width: 300px;
        background-color: white;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
    }
}



/* LG */

@media (min-width:900px) {
    body {
       background-color: blue;
       }
}
@media (min-width: 900px)  {
    .left-image {
        background-size: cover;
        background-position: 50% 25%;
        height: 400px;
        width: 400px;
        background-color: white;
        border-radius: 0px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

    }
    
    .content {
        height: 400px;
        width: 400px;
        background-color: white;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
    }
    .button {
        margin-top: 60px;
        padding: 20px;
        font-size: 20px;
    }
    .content-price {
        margin-top: 30px;
    }
    .offert-price {
        font-size: 40px;
        font-weight: 800;
    }
    
    .real-price{
        font-size: 20px;
        margin-left: 10px ;
    }
    .oneclick {
        display: block;
        margin-top: 5px;
        color: black;
        background-color: green;
    }
}